.text-cyan{color:$cyan !important;}
.text-teal{color:$teal !important;}
.text-grey-300{color:$gray-300 !important;}
.cursor-pointer{cursor:pointer !important;}
input.focus-none:focus-visible{
    outline:none;
}
.lx_block_info{
    position:fixed;
    bottom:3rem;
    right: 2rem;
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-clip: padding-box;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
}
